/* Fuente del Proyecto */
.overpass-font {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Smartphones */
@media (min-width: 0px) and (max-width:374px){
    #solutivalogo{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    #title{
        display: flex;
        justify-content: center;
        font-size: 11px;
    }
    .map-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-top: 5px;
    }
    .btn-list{
        display: flex;
        gap: 1px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 310px;
        border: 1px solid gray;
        border-radius: 4px;
    }
    .categories{
        display: flex;
        border: 1px solid black;
    }
    .category-title{
        display: flex;
        width: 150px;
        justify-content: center;
        align-items: center;
        background-color: #d2e769;
        border: 1px solid gray;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        height: 70px;
        padding: 20px;
        gap: 6px;
    }
    .btn.presionado {
        background-color: lightgrey;
    }
    #map{
        height: 500px;
        width: 300px;
        border: 1px solid gray;
        border-radius: 5px;
    }
}

@media (min-width: 375px) and (max-width:991px){
       #solutivalogo{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    #title{
        display: flex;
        justify-content: center;
        font-size: 11px;
    }
    .map-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin-top: 5px;
    }
    .btn-list{
        display: flex;
        gap: 1px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 375px;
        border: 1px solid gray;
        border-radius: 4px;
    }
    .categories{
        display: flex;
        border: 1px solid black;
    }
    .category-title{
        display: flex;
        width: 150px;
        justify-content: center;
        align-items: center;
        background-color: #d2e769;
        border: 1px solid gray;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        height: 70px;
        padding: 20px;
        gap: 6px;
    }
    .btn.presionado {
        background-color: lightgrey;
    }
    #map{
        height: 500px;
        width: 365px;
        border: 1px solid gray;
        border-radius: 5px;
    }
}

/* Tablet */

@media (min-width: 768px) and (max-width:992px) {
    #solutivalogo{
        margin-top: 30px;
        margin-left: 40px;
    }
    #title{
        display: flex;
        justify-content: center;
        cursor: default;
    }
    .map-section{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .btn-list{
        display: flex;
        flex-direction: column;
        gap: 3px;
        overflow-y: scroll;
        max-height: 500px;
        width: 210px;
        border: 2px solid gray;
    }
    .categories{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        cursor: default;
    }
    .category-title{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d2e769;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        height: 40px;
        padding: 20px;
        gap: 30px;
    }
    .btn.presionado {
        background-color: lightgrey;
        color: black;
    }
    #map{
        height: 500px;
        width: 400px;
        border: 2px solid gray;    
    }
}

/* Notebook */

@media (min-width: 992px) and (max-width: 1200px){
    #solutivalogo{
        margin-top: 30px;
        margin-left: 40px;
    }
    #title{
        display: flex;
        justify-content: center;
        cursor: default;
    }
    .map-section{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .btn-list{
        display: flex;
        flex-direction: column;
        gap: 3px;
        overflow-y: scroll;
        max-height: 600px;
        border: 1px solid gray;
    }
    .categories{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        cursor: default;
    }
    .category-title{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d2e769;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        padding: 20px;
        gap: 30px;
    }
    .btn.presionado {
        background-color: lightgrey;
        color: black;
    }
    #map{
        height: 600px;
        width: 650px;
        border: 2px solid gray;    
    }
}

/* Desktop */ 

@media (min-width: 1200px) {
    header{
        display: flex;
        height: 70px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        border: 1px solid lightgray;
    }
    .navsectionone{
        display: flex;
        align-items: center;
        margin-left: 100px;
        gap: 30px;
    }
    #solutivalogo{
        margin-top: 8px;
    }
    #title{
        font-size: 18px;
        margin-top: 5px;
        cursor: default;
    }
    .commune{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 145px;
        gap: 20px;
        height: 70px;
        width: 220px;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        cursor: default;
    }
    #map-pin{
        margin-top: 5px;
    }
    .commune-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    #text-comunne-one{
        font-size: 18px;
        color: #475504;
    }
    #text-comunne-two{
        margin-right: 10px;
        font-size: 16px;
        color: #141801;
    }
    .total-container{
        display: flex;
        justify-content: center;
        margin-right: 20px;
        margin-top: 3px;
        gap: 3px;
    }
    .left-graph-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 858px;
        width: 350px;
        border: 1px solid gray;
    }
    .left-charts{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6.5px;
        height: 275px;
        width: 330px;
        border: 1px solid gray;
    }
    #chartOne{
        display: flex;
        align-items: center;
        height: 274px;
        width: 330px
    }
    #chartTwo{
        display: flex;
        align-items: center;
        height: 274px;
        width: 330px
    }
    #chartThree{
        display: flex;
        align-items: center;
        height: 274px;
        width: 330px
    }
    .map-section{
        display: flex;
        justify-content: center;
    }
    .bottom-chart-section{
        display: flex;
        border: 1px solid gray;
        align-items: center;
        justify-content: space-around;
        height: 154px;
        width: 1201px;
    }
    .right-subcontainer{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .bottom-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 140px;
        width: 350px;
        border: 1px solid gray;
    }
    #bottom-information1{
        font-size: 20px;
        color: #475504;
    }
    #bottom-result1{
        white-space: pre-line;
        color: #141801;
    }
    #bottom-information2{
        font-size: 20px;
        color: #475504;
    }
    #bottom-result2{
        white-space: pre-line;
        color: #141801;
    }
    #bottom-information3{
        font-size: 20px;
        color: #475504;
    }
    #bottom-result3{
        white-space: pre-line;
        color: #141801;
    }
    .btn-list{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 700px;
        border: 1px solid gray;
    }
    .categories{
        display: flex;
        flex-direction: column;
        cursor: default;
    }
    .category-title{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d2e769;
        border-right: 1px solid gray;
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        padding: 20px;
        gap: 30px;
    }
    .btn.presionado {
        background-color: lightgrey;
        color: black;
    }
    #map{
        height: 700px;
        width: 900px;
        border: 1px solid gray;    
    }
}